.sidenav-container {
    height: 100%;
  }
  
  .custom-sidenav {
    width: 5em;
    background-color: #1976d2;
    color: white;
    transition: width 0.3s;
  }
  
  .custom-sidenav.expanded {
    width: 15em;
    background-color: #1976d2;
  }
  
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #1976d2;

  }
  
  mat-icon {
    font-size: 32px;
    /* margin-right: 8px; */
    color: white;
  }
  
  mat-list-item {
    white-space: nowrap;
    color: white;
  }
  span{
    color: white;
    margin-left: 1em;
  }